// kleuren
$wit-standaard: #FAFAFA;
$zwart-standaard: #323232;
$rood-standaard: #E84E42;

// afmetingen
$zijbalk-breedte: 200px;
$zijbalk-ingeklapt: 50px;
$vulling: 20px;

$delen2: 50%;

// tijdnotaties (sliding)
$tijd-slide: 0.3s;
