doctype html
html(lang='nl')
    head
        include jade-includes/html-hoofd
    body
        nav(class="hoofd-navigatie", id="hoofd-navigatie")
            include jade-includes/menu
        div(class="huls")
            div(class="toggle")
                a(href="#hoofd-navigatie") &#9776;
                a(href="#", class="close-menu") &#9776;

            article(class="content")
                div(class="wrapper")
                    header(class="hoofd-titel")
                        h1 #[i(class="fa fa-flask")] &nbsp;Ervaring Guy&nbsp;Pensart
                    div(class="rij")
                        div(class="enkelluik")
                            h2 Diensten die ik op freelance basis heb mogen bieden. Deze lijst is zeker niet compleet en diende enkel om dit eindwerk wat vorm te geven. Het spreekt voor zich dat ik deze opdrachtgevers ontzettend dankbaar ben voor de kansen.
                        div(class="clearfix")
                    div(class="rij")
                        div(class="drieluik drie1 refs")
                            h3 Alto Alto
                            p Geanimeerde flash reclamebanners voor web.
                            small Leuven
                            h3 Artronix Bvba
                            p 3d modellen tekenen die gebruikt werden in reclamefilmpjes en muziekvideo's die vooral op TMF werden uitgezonden
                            small Hasselt
                            h3 Comix Bvba
                            p Ontwerp van posters en flyers voor dancing Outline
                            small Diest
                            h3 Dreams factory
                            p Reclame filmpjes voor narrowcasting, illustraties, animaties en webdesign
                            small Sint-Truiden
                            h3 Ichannel
                            p Reclamefilmpjes voor narrowcasting, illustraties, animaties en webdesign
                            small Berloz
                        div(class="drieluik drie2 refs")
                            h3 Isola
                            p 3d product visualisatie illustraties en website concept
                            small Sint-Truiden
                            h3 MCL
                            p 3d animatie, geanimeerde billboards compositing en effecten voor Cristal Alken filmfestival
                            small Houthalen
                            h3 Pubmarket!
                            p 3d illustraties & animatie voor krant - magazine en internationale televisie
                            small Hasselt
                            h3 Soundhouse
                            p CD covers en booklet ontwerpen
                            small Hoeselt
                            h3 Steff Stess
                            p 3d animatie, compositing, motion design voor nationale televisie
                            small Tongeren
                        div(class="drieluik drie3 refs")
                            h3 Vitec
                            p Geanimeerde reclamefilmpjes voor op TV-limburg
                            small Hoeselt
                            h3 Webweaver
                            p Concepten voor websites, flash animatie en illustratie
                            small Hoeselt
                            h3 Webytes
                            p Front end webdesign, flash animatie en illustratie
                            small Bilzen
                            h3 Wiebe meespeeltheater
                            p CD covers en booklet ontwerp, website concept en uitvoering
                            small Booischot
