doctype html
html(lang='nl')
    head
        include jade-includes/html-hoofd
    body
        nav(class="hoofd-navigatie", id="hoofd-navigatie")
            include jade-includes/menu
        div(class="huls")
            div(class="toggle")
                a(href="#hoofd-navigatie") &#9776;
                a(href="#", class="close-menu") &#9776;

            article(class="content")
                div(class="wrapper")
                    header(class="hoofd-titel")
                        h1 #[i(class="fa fa-flask")] &nbsp;Ervaring Guy&nbsp;Pensart
                    div(class="rij")
                        div(class="enkelluik")
                            h2 Coming soon...
