doctype html
html(lang='nl')
    head
        include jade-includes/html-hoofd
    body
        nav(class="hoofd-navigatie", id="hoofd-navigatie")
            include jade-includes/menu
        div(class="huls")
            div(class="toggle")
                a(href="#hoofd-navigatie") &#9776;
                a(href="#", class="close-menu") &#9776;

            article(class="content")
                div(class="wrapper")
                    header(class="hoofd-titel")
                        h1 #[i(class="fa fa-home")] &nbsp;Guy&nbsp;Pensart
                    div(class="rij")
                        div(class="enkelluik")
                            h2 Door een enorme passie voor web ontwikkeling, grafisch ontwerp en animatie wil ik graag via deze weg mijn portfolio aan jullie voorstellen. Op zoek naar een boeiende job.
                        div(class="clearfix")
                    div(class="rij")
                        div(class="drieluik drie1")
                            img(src="img/front1.jpg" alt="Wim Swerts website voorbeeld")
                            h3 Web ontwikkeling
                            p Noem het niet webdesign want het is zoveel meer. Design en programatie. Ook heel wat ervaring met CMS systemen zoals Drupal en Wordpress. Dankzij een extra intensieve opleiding bij CVO te Heusden zolder heb ik heel wat te bieden.
                        div(class="drieluik drie2")
                            img(src="img/front2.jpg" alt="Memorex illustratie voorbeeld")
                            h3 Grafisch ontwerp
                            p 2d en 3d illustraties, ook hier kan ik heel wat mooie dingen bieden. Met een dankjewel aan alle kansen die ik reeds gekregen heb van toch wel bekende merken, reclamebureau's en diverse andere opdrachtgevers.
                        div(class="drieluik drie3")
                            img(src="img/front3.jpg" alt="Cristal Alken animatie voorbeeld")
                            h3 Animatie
                            p Animatie is ook een passie waar ik steeds mijn kennis in blijf verrijken. Ook hier heb ik het geluk gehad te mogen meewerken met grote namen.
                        div(class="clearfix")
                    div(class="rij")
                        div(class="tweeluik twee1")
                            h3 Een voorwoordje over deze site
                            p Deze site is een eindwerk dat ik tijdens mijn opleiding als web ontwikkelaar heb mogen maken. Er zit dus nog niet alles in. Dit eindwerk was voor het vak Interface lab deel 2. De opdracht bestond uit een statische website! Zelfs het responsieve navigatie menu werkt volledig op css.
                        div(class="tweeluik twee2")
                            h3 Handige tools
                            p PHP of css frameworks zoals Bootstrap of Foundation mochten voor dit bepaald eindwerk niet gebruikt worden. Dankzij pre-processors zoals Jade en SASS bleef het toch een mooie uitdaging.
                        div(class="clearfix")
                    script(src="js/retina.js").
                    footer
                        include jade-includes/voet
