doctype html
html(lang='nl')
    head
        include jade-includes/html-hoofd
    body
        nav(class="hoofd-navigatie", id="hoofd-navigatie")
            include jade-includes/menu
        div(class="huls")
            div(class="toggle")
                a(href="#hoofd-navigatie") &#9776;
                a(href="#", class="close-menu") &#9776;

            article(class="content")
                div(class="wrapper")
                    header(class="hoofd-titel")
                        h1 #[i(class="fa fa-graduation-cap")] &nbsp;Opleidingen Guy&nbsp;Pensart
                    div(class="rij")
                        div(class="enkelluik")
                            h2 Wegens een verplichte studiekeuze vanwege mijn ouders is mijn hoofdopleiding ver van hetgene wat ik in een boeiende job zoek. Maar door jarenlange zelfstudie en vooral een intensieve opleiding bij CVO als web ontwikkelaar is alles nog goed gekomen :)
                        div(class="clearfix")
                    div(class="rij")
                        div(class="tweeluik twee1")
                            h3 Extra opleidingen
                            p #[time(datetime="2015 - 2016") 2015 - 2016 ] CVO de verdieping te Heusden-zolder <br/>
                                | Web ontwikkeling front en back-end, inclusief ontwerp.
                            p #[time(datetime="2000") 2000 ] Stedelijke Academie voor Beeldende Kunsten <br/>
                                | Deeltijds onderwijs, richting tekenen.
                        div(class="tweeluik twee2")
                                    h3 Opleiding
                                    p #[time(datetime="1990") 1990 ]Gsm Munsterbilzen <br/>
                                        | 3de graad werktuigmachines (keuze ouders).

                        div(class="clearfix")
                    footer
                        include jade-includes/voet
