a(href='index.html')
    img(src="img/LogoPen.png" alt="Logo Guy Pensart")
a(href="index.html") #[i(class="fa fa-home")] &nbsp;Home
a(href="pensart.html") #[i(class="fa fa-user")] &nbsp;Pensart
a(href="opleiding.html") #[i(class="fa fa-graduation-cap")] &nbsp;Opleiding
a(href="ervaring.html") #[i(class="fa fa-flask")] &nbsp;Ervaring
a(href="portfolio.html") #[i(class="fa fa-mouse-pointer")] &nbsp;Portfolio


